<!DOCTYPE html>
<html>
  
<head>
    <title>FILE UPLOAD CLIENT</title>
</head>
  
<body>
    <h1>Single File Upload for Observations</h1>
   
    <form action="/observations" 
      enctype="multipart/form-data" method="POST">
      
        Title
        <input type="text" name="title"/> <br>
        Description
        <input type="text" name="desc"/> <br>
        <input type="file" name="nature-image" required/> <br>
        <input type="submit" value="submit"> 
    </form>
</body>
  
</html>