body {
  background-color: lightgray;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(5, minmax(250px,auto) ); 
  grid-auto-rows: minmax(400px,auto); 
  grid-gap: 20px;

  justify-content: center;
  align-content: center;

  margin: 5px;

}

.grid-item{
  background-color: white;
  /*border: 1px solid black;*/
  justify-content: center;
  display: grid;
  border-radius: 5px;
}

.title {
  text-align: center;
}

/*Form Section*/


.form-control{
  display: grid;
  justify-content: center;
  align-content: center;
}

/*Navbar section*/

.navbar{
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: limegreen;
}

.btn {
  float: right;
  background-color: lightgreen;
  border-radius: 5px;
  border: 2px solid black;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
  margin: 2px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}




